@import "tailwindcss";

:root {
  --intel--: #3079ee;
  --Radeon--: #e9001d;
  --Nvidia--: #589c00;
}


* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #ffffff;
}
